{{#each this}}
  <li class='gallery-items' data-index='{{id}}'>
    <div class='one-card'>
      <div class='moviе-item__img'>
      <img 
        class='js-card-img' 
        src='{{poster_path}}' 
        alt='moviе poster: {{title}}'
      />
    </div>
    <div class='moviе-stats'>
      <h2 class='moviе-stats__title'>
        {{title}}
      </h2>
      <div class='moviе-stats__info'>
        <ul class='moviе-genre'>
    
          <li class='moviе-genre__item'>{{genres_short_list}}</li>
    
        </ul>
        <p class='moviе-year'>
          {{#if release_date}}
          <year class='moviе-year__getFullYear'>{{release_date}}</year>
          {{else}}
          <year class='moviе-year__getFullYear'>{{first_air_date}}</year>
          {{/if}}
        </p>
        <p class='moviе-vote'>
          {{vote_average}}
        </p>
      </div>
    </div>
    <div class='one-card_overlay'>
      <div class='one-card__average'>{{vote_average}}</div>
      <button type='button' class='btn_one-card btn-gallery-item-watched' data-action='add-to-watched_one-card'>ADD TO
        WATCHED</button>
      <button type='button' class='btn_one-card btn-gallery-item-later' data-action='add-to-queue_one-card'>ADD TO QUEUE</button>
    </div>
    </div>
    
  </li>
{{/each}}